page-feed {
  .user{
    font-size: 1.3em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
  }
  // .img-icon {

  // }
  .img-body{
    width: 50%;
    margin: 0 auto;
  }
  .body-title{
    font-size: 1.3em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
}
